@use 'variable.scss' as var;

.rank_list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	.rank_list-item {
		width: 50%;
		background-color: #f9f6f5;
		border-top: 1px solid #fff;

		&:nth-child(2n) {
			width: calc(50% - 1px);
			border-left: 1px solid #fff;
		}
		&:nth-child(1),
		&:nth-child(2) {
			border-top: none;
		}
	}

	.rank_list-link {
		display: block;
		padding: 12px 10px;
		font-size: 1.2rem;
		background-image: url(../img/icon_arrow.png);
		background-repeat: no-repeat;
		background-size: 5px 8px;
		background-position: right 6px center;
	}
}
