@use 'variable.scss' as var;

.rank_list {
	padding-bottom: 3px;

	.rank_list-item {
		padding-bottom: 15px;
	}

	.rank_list-title {
		display: block;
		margin-bottom: 5px;
		font-size: 1.1rem;
		font-weight: bold;
		color: var.$gray-color;
		white-space: nowrap;
	}
}