
@use "/src/styles/variable.scss" as var;

.wrapper {
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid var.$border-color;
}

.lead {
	padding: 20px 14px 0;
	font-size: 13px;
	font-weight: bold;
	color: var.$sub-color;
	text-align: center;
}

.button {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 16px 14px;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	letter-spacing: .02em;
	gap: 8px;

	&::after {
		content: "›";
		margin-left: auto;
		color: var.$gray-color;
		font-size: 1.2em;
	}
}

.list {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 14px;
	gap: 14px;
}

.cassette {
	width: calc(50% - 7px);
	overflow: hidden;
	font-size: 15px;
	border-radius: var.$radius-md;
	background-color: #fff;
	box-shadow: var.$shadow-md;
}
