<li class="ranking-item js-ranking">
	<div class="ranking-head">
		<p class="ranking-rank"><%= index %></p>
		<p class="ranking-title js-ranking_title"></p>
	</div>
	<a href="" class="js-ranking_link" target="_blank">
		<img class="ranking-image js-ranking_image">
	</a>
	<div class="ranking-note">
		<p class="ranking-time js-ranking_time"></p>
		<p class="ranking-price js-ranking_price"></p>
		<div class="ranking-link_wrapper">
			<a href="" class="ranking-link js-ranking_link" target="_blank">
				詳しいレシピを見る
			</a>
		</div>
	</div>
	<p class="ranking-text js-ranking_text"></p>
	<a href="javascript:void(0);" class="ranking-button js-ranking_entry">
		レシピ登録
	</a>
	<input type="hidden" value="" class="js-ranking_data" style="display: none;">
</li>
