
@use "/src/styles/variable.scss" as var;

.wrapper {
	display: block;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}

.image {
	width: 100%;
	aspect-ratio: 3 / 2;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var.$td-color2;
}

.textWrapper {
	margin: 0;
	padding: 1.1em .85em 1em;
	text-align: left;
}

.header {
	display: flex;
	align-items: center;
	gap: .6em;
}

.division {
	color: var.$sub-color;
	font-size: .75em;
	font-weight: bold;
	white-space: nowrap;
}

.time {
	display: flex;
	align-items: center;
	color: var.$gray-color;
	font-size: .75em;
	white-space: nowrap;

	&::before {
		content: "⏱";
		margin-right: 2px;
		font-size: 1em;
	}
}

.price {
	display: flex;
	align-items: center;
	color: var.$gray-color;
	font-size: .75em;
	white-space: nowrap;

	&::before {
		content: "¥";
		margin-right: 1.5px;
		font-size: 1em;
	}
}

.title {
	margin-top: .5em;
	font-weight: bold;
	font-size: .95em;
	line-height: 1.4;
}
