
@use "/public/css/variable.scss" as var;

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	background-color: #a79e9a;
	color: #fff;
	font-size: 12px;
}
