/* color */
$main-color: #5d483e;
$sub-color: #837067;
$gray-color: #867872;
$yellow-color: #f9ca4b;
$favorite-color: #f0bd33;
$td-color1: #f9f6f5;
$td-color2: #efeae8;

/* height */
$header-height: 48px;

/* z-index */
$header-index: 100;
$header-menu-index: 101;
$change-modal-index: 102;
$full-modal-index: 103;