
@use "/public/css/variable.scss" as var;

.button {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 13px;
		display: block;
		width: 6px;
		height: 6px;
		border-top: 2px solid var.$main-color;
		border-left: 2px solid var.$main-color;
		transform: translate(0, -50%) rotate(135deg);
	}

	&.isOpen {
		&::before {
			transform: translate(2px, calc(1px - 50%)) rotate(45deg);
		}
	}
}

.wrapper {
	display: none;

	&.isOpen {
		display: block;
	}
}
