@use "variable" as var;

* {
	font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "游ゴシック体", YuGothic, "メイリオ", sans-serif;
	word-break: break-all;
	box-sizing: border-box;
}

body {
	position: relative;
	font-weight: normal;
	color: var.$main-color;
	text-align: left;
	font-size: 16px;
	background-color: var.$surface-color;
	-webkit-font-smoothing: antialiased;
}

img {
	width: 100%;
}

a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	transition: opacity .2s ease;
	&:hover {
		opacity: .75;
	}
	&:active {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
}

p {
	line-height: 1.6;
}

button, select {
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	appearance: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	transition: opacity .2s ease, transform .15s ease;
	&:hover {
		opacity: .8;
	}
	&:active {
		transform: scale(.97);
	}
}

.wrapper {
	&::before {
		content: "";
		display: block;
		height: var.$header-height;
		width: 100%;
	}
}
