@use "variable" as var;

/* reset --------------- ↓ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: inherit;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	line-height: 1.4;
	background: transparent;
}
html {
	font-size: 62.5%;
}
body {
	line-height: 1;
	font-size: 14px;
}
img {
	line-height: 0;
	vertical-align: bottom;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display: block;
}
nav ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
body,div {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body::-webkit-scrollbar,
div::-webkit-scrollbar {
	display: none;
}
/* reset --------------- ↑ */

* {
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	word-break: break-all;
}

body {
	position: relative;
	font-size: 1.3rem;
	font-weight: normal;
	color: var.$main-color;
	text-align: left;
}

img {
	width: 100%;
}

a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:hover {
		opacity: .8;
	}
	&:active {
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	appearance: none;
	font-family: inherit;
	color: inherit;
	cursor: pointer;
	&:hover {
		opacity: .8;
	}
}

.link {
	display: inline-block;
	text-decoration: underline;
}

.wrapper {
	position: relative;
	padding: 0 0 var.$footer-height;
	width: 100%;
	margin: auto;
	background-color: var.$white-color;

	&::before {
		content: "";
		display: block;
		height: var.$header-height;
		width: 100%;
	}
}

.contents {
	.contents-wrapper {
		padding: 20px 15px;
	}

	.contents-title {
		font-weight: bold;
	}

	.contents-link {
		color: var.$sub-color;
		font-size: 1.1rem;
	}

	.contents-description {
		padding: 5px 0 20px;
		font-size: 1.2rem;
		line-height: 1.6;
	}

	.contents-note {
		display: block;
		font-size: 1rem;
		padding-top: 5px;
		opacity: .8;
	}
}

.mt05 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt55 { margin-top: 55px; }
.mt60 { margin-top: 60px; }
.mt65 { margin-top: 65px; }
.mt70 { margin-top: 70px; }
.mt75 { margin-top: 75px; }
.mt80 { margin-top: 80px; }
.mt85 { margin-top: 85px; }
.mt90 { margin-top: 90px; }
.mt95 { margin-top: 95px; }
.mt100 { margin-top: 100px; }
