@use "/public/css/variable.scss" as var;

.image {
	width: 100%;
}

.wrapper {
	padding: 18px 13px 23px;
}

.header {
	display: flex;
}

.time {
	color: var.$gray-color;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	&::before {
		display: inline-block;
		width: 11px;
		height: 11px;
		margin-right: 3px;
		content: "";
		background-image: url("icon_recipe.png");
		background-size: 22px;
		background-repeat: no-repeat;
		background-position: 0 0;
		overflow: hidden;
		transform: translateY(1px);
	}
}

.price {
	margin-left: 12px;
	color: var.$gray-color;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	&::before {
		display: inline-block;
		width: 11px;
		height: 11px;
		margin-right: 3px;
		content: "";
		background-image: url("icon_recipe.png");
		background-size: 22px;
		background-repeat: no-repeat;
		background-position: -11px 0;
		overflow: hidden;
		transform: translateY(1px);
	}
}

.description {
	padding-top: 5px;
}

.table {
	table-layout: fixed;
	width: 100%;

	th {
		padding: 18px 0 6px;
		font-weight: bold;
		color: var.$sub-color;
	}

	td {
		padding: 10px 10px 8px;
		font-size: 1.2rem;
		background-color: #f9f6f5;
	}

	tr:nth-child(2n-1) {
		td {
			background-color: #efeae8;
		}
	}
}

.buttonWrapper {
	padding-top: 20px;
}

.button {
	display: block;
	height: 45px;
	width: 100%;
	color: #fff;
	background-color: #8c7d77;
	font-weight: bold;
	text-align: center;
	line-height: 47px;
	border-radius: 4px;
}
