@use "../../../assets/css/variable.scss" as var;
@import "../../../assets/css/common.scss";
@import "../../../assets/css/table.scss";

.recipe {
	position: relative;

	.recipe-button {
		width: 100%;
	}

	.recipe-image {
		width: 100%;
		height: 300px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #eee;

		@include var.tab {
			height: 400px;
		}
	}

	.recipe-update {
		display: block;
		position: absolute;
		top: 6px;
		right: 4px;
		overflow: hidden;

		button {
			display: block;
			width: 40px;
			height: 40px;
			background-image: url(#{var.$img-path}/icon_update.png);
			background-size: 40px;
			background-repeat: no-repeat;
			background-position: 0 0;

			&.is-disabled {
				pointer-events: none;
				opacity: .4;
			}
		}
	}

	.recipe-info {
		display: block;
		padding: 13px 13px 12px;
		text-align: left;
	}

	.recipe-head {
		display: flex;
		padding-bottom: 5px;
		font-size: 12px;
	}

	.recipe-division {
		color: var.$gray-color;
		font-weight: bold;
		white-space: nowrap;
	}

	.recipe-time {
		margin-left: 10px;
		color: var.$gray-color;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&::before {
			display: inline-block;
			width: 11px;
			height: 11px;
			margin-right: 3px;
			content: "";
			background-image: url(#{var.$img-path}/icon_recipe.png);
			background-size: 22px;
			background-repeat: no-repeat;
			background-position: 0 0;
			overflow: hidden;
			transform: translateY(1px);
		}
	}

	.recipe-price {
		margin-left: 8px;
		color: var.$gray-color;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&::before {
			display: inline-block;
			width: 11px;
			height: 11px;
			margin-right: 3px;
			content: "";
			background-image: url(#{var.$img-path}/icon_recipe.png);
			background-size: 22px;
			background-repeat: no-repeat;
			background-position: -11px 0;
			overflow: hidden;
			transform: translateY(1px);
		}
	}

	.recipe-title {
		font-weight: bold;
		display: -webkit-box;
		overflow: hidden;
		font-size: 14px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}

.recipe_modal {
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 90;
	overflow: hidden;
	transition: .3s;

	&.is-open {
		top: var.$header-height;
	}

	.recipe_modal-wrapper {
		overflow: hidden;
		border-radius: 10px 10px 0 0;
		box-shadow: 0 -10px 40px 30px rgb(0,0,0,.3);
	}

	.recipe_modal-content {
		width: 100%;
		max-height: calc(100vh - var.$header-height + 1px);
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
		background-color: var.$white-color;
	}

	.recipe_modal-head {
		position: sticky;
		top: 0;
		left: 0;
		display: flex;
		background-color: var.$white-color;
		z-index: 1;
	}

	.recipe_modal-close {
		position: relative;
		width: 44px;
		min-width: 44px;
		height: 50px;
		margin: 0 0 0 auto;
		margin-top: 2px;
		border-radius: 50%;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 3px;
			height: 21px;
			background-color: var.$main-color;
			border-radius: 2px;
		}
		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	.recipe_modal-title {
		width: 100%;
		padding: 16px 0 13px 13px;
		font-size: 16px;
		font-weight: bold;
	}

	.recipe_modal-info {
		padding: 20px 13px;
	}

	.recipe_modal-info_head {
		display: flex;
	}

	.recipe_modal-time {
		color: var.$gray-color;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&::before {
			display: inline-block;
			width: 11px;
			height: 11px;
			margin-right: 3px;
			content: "";
			background-image: url(#{var.$img-path}/icon_recipe.png);
			background-size: 22px;
			background-repeat: no-repeat;
			background-position: 0 0;
			overflow: hidden;
			transform: translateY(1px);
		}
	}

	.recipe_modal-price {
		margin-left: 12px;
		color: var.$gray-color;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&::before {
			display: inline-block;
			width: 11px;
			height: 11px;
			margin-right: 3px;
			content: "";
			background-image: url(#{var.$img-path}/icon_recipe.png);
			background-size: 22px;
			background-repeat: no-repeat;
			background-position: -11px 0;
			overflow: hidden;
			transform: translateY(1px);
		}
	}

	.recipe_modal-description {
		padding: 8px 0 16px;
	}

	.recipe_modal-button {
		display: block;
		height: 45px;
		width: 100%;
		margin-top: 20px;
		color: var.$white-color;
		background-color: var.$gray-color;
		font-weight: bold;
		text-align: center;
		line-height: 47px;
		border-radius: var.$radius;
	}
}
