
@use "/src/styles/variable.scss" as var;

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: var.$gray-color;
	color: rgba(255,255,255,.6);
	font-size: 11px;
	letter-spacing: .03em;
}
