<li class="rank_list-item">
	<label for="date<%= dateNum %>" class="rank_list-title">
		<%- include('./dateDivision.ejs', {dateNum}) %>のレシピ
	</label>
	<input id="date<%= dateNum %>" class="form_text js-rank_text" placeholder="楽天レシピのURLを入力してください" />
</li>