@use '../../../assets/css/variable.scss' as var;

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var.$header-height;
	z-index: 100;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.header_wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: var.$yellow-color;
	}

	.header_img {
		display: inline-block;
		padding: 10px 10px 6px;
	}

	.header_menuButton {
		position: absolute;
		top: 50%;
		right: 4px;
		display: inline-block;
		width: 36px;
		height: 30px;
		background-image: url(icon_hamburger.png);
		background-size: 23px;
		background-repeat: no-repeat;
		background-position: center;
		transform: translateY(-50%);
		font-family: inherit;
		border: none;
		background-color: inherit;
	}
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 101;

	.modal_bg {
		width: 100%;
		height: 100%;
	}

	.modal_wrapper {
		position: fixed;
		top: var.$header-height;
		left: 0;
		width: 100%;
	}

	.modal_list {
		background-color: var.$white-color;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .4);
	}

	.modal_item {
		position: relative;
		border-bottom: 1px solid #eae5e2;

		&::before {
			position: absolute;
			top: 12px;
			display: inline-block;
			height: 23px;
			content: "";
			background-image: url(icon_menu.png);
			background-size: 63px 23px;
			background-repeat: no-repeat;
			vertical-align: baseline;
			pointer-events: none;
		}

		&:nth-child(1) {
			&::before {
				left: 11px;
				width: 29px;
				background-position: -19px -1px;
			}
		}

		&:nth-child(2) {
			&::before {
				left: 16px;
				width: 20px;
				background-position: 0 0;
			}
		}

		&:nth-child(3) {
			border-bottom-color: #ccc;
			&::before {
				left: 16px;
				width: 19px;
				background-position: -46px -1px;
			}
		}
	}

	.modal_link {
		display: block;
		padding: 14px 10px 11px 46px;
		color: var.$main-color;
	}
}