@use 'variable.scss' as var;

.buy_list {
	.buy_list-title {
		font-size: 10px;
		padding: 5px 0 2px;
	}

	.buy_list-head {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.buy_list-menu {
		white-space: nowrap;
		padding-left: 2px;
		transform: translateX(3px);
	}

	.buy_list-note {
		font-size: 11px;
	}
}