@use 'variable.scss' as var;

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 90;

	&.is-active {
		display: block;
	}

	.modal-bg {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);
		cursor: pointer;

		&.modal-bg--blank {
			background-color: inherit;
			cursor: inherit;
		}
	}

	.modal-menu_wrapper {
		position: fixed;
		top: var.$header-height;
		left: 0;
		width: 100%;
	}

	.modal-recipe_wrapper,
	.modal-rank_wrapper {
		position: fixed;
		top: 60px;
		left: 50%;
		width: calc(100% - 30px);
		max-width: 400px;
		height: calc(100vh - #{var.$header-height} - 30px);
		transform: translateX(-50%);
	}

	.modal-recipe_content,
	.modal-rank_content {
		width: 100%;
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: var.$white-color;
		border-radius: var.$radius;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.modal-rank_title {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - 60px);
		padding: 10px 30px;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		background-color: var.$bg-color;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.modal_button {
	display: flex;
	overflow: hidden;
	width: 100%;
	background-color: var.$white-color;

	.modal_button-item {
		display: block;
		height: 43px;
		width: 100%;
		color: var.$white-color;
		font-weight: bold;
		line-height: 45px;

		&:nth-child(n+2) {
			border-left: 1px solid var.$white-color;
		}

		&.modal_button-item--rakuten {
			background-color: var.$gray-color;
		}

		&.modal_button-item--close {
			background-color: var.$yellow-color;
		}
	}
}

.modal_close_button {
	position: absolute;
	top: -12px;
	right: -11px;

	.modal_close_button-item {
		position: relative;
		display: block;
		width: 32px;
		height: 32px;
		background-color: rgb(0,0,0,.7);
		border-radius: 50%;

		&::before, &::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 3px;
			height: 20px;
			background-color: #fff;
			border-radius: 2px;
		}
		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.modal_menu {
	margin: auto;
	padding-bottom: 30px;
	overflow: hidden;

	.modal_menu-item {
		border-bottom: 1px solid #eae5e2;

		&:last-child {
			border-bottom-color: #ccc;
		}
	}

	.modal_menu-list {
		background-color: var.$white-color;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .4);
	}

	.modal_menu-link {
		position: relative;
		display: block;
		padding: 14px 10px 11px 46px;
		text-align: left;

		&::before {
			position: absolute;
			top: 10px;
			display: inline-block;
			height: 23px;
			content: "";
			background-image: url(#{var.$img-path}/icon_menu.png);
			background-size: 63px 23px;
			background-repeat: no-repeat;
			vertical-align: baseline;
		}

		&.modal_menu-link--top {
			&::before {
				left: 11px;
				width: 29px;
				background-position: -19px -1px;
			}
		}

		&.modal_menu-link--buy {
			&::before {
				left: 16px;
				width: 20px;
				background-position: 0 0;
			}
		}

		&.modal_menu-link--rank {
			&::before {
				left: 16px;
				width: 19px;
				background-position: -46px -1px;
			}
		}
	}
}

.modal_entry {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.modal_entry-content {
		width: 260px;
		padding: 25px 20px 20px;
		background-color: #fff;
		border-radius: 4px;
	}

	.modal_entry-select {
		padding: 4px 0 4px 4px;
		color: var.$gray-color;
		font-weight: bold;
		border-color: #b9b3b0;
		border-radius: 3px;
	}

	.modal_entry-button_wrapper {
		display: flex;
		padding-top: 20px;
	}

	.modal_entry-button {
		display: inline-block;
		height: 40px;
		width: 100%;
		color: var.$white-color;
		background-color: var.$gray-color;
		font-weight: bold;
		line-height: 42px;
		border-radius: 4px;

		&.modal_entry-button--blank {
			margin-right: 8px;
			color: var.$main-color;
			background-color: #e8e6e4;
		}
	}
}

.message {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 34px;
	background: #f5e6bf;
	font-weight: bold;
	line-height: 34px;
	z-index: 90;
	transition-duration: .5s;
	transition-delay: .2s;

	&.is-active {
		top: 44px;
	}
}