@use 'variable.scss' as var;

.recipe_list {
	display: flex;
	flex-wrap: wrap;

	.recipe_list-item {
		position: relative;
		width: calc(50% - 1px);

		&:first-child {
			width: 100%;
		}

		&:nth-child(2n) {
			border-right: 2px solid var.$white-color;
		}
	}

	.recipe_list-image {
		width: 100%;
		height: 280px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #eee;

		@include var.tab {
			height: 400px;
		}
	}

	.recipe_list-update {
		position: absolute;
		top: 6px;
		right: 4px;
		overflow: hidden;
	}

	.recipe_list-update_image {
		display: block;
		width: 40px;
		height: 40px;
		background-image: url(#{var.$img-path}/icon_update.png);
		background-size: 40px;
		background-repeat: no-repeat;
		background-position: 0 0;

		&.is-disabled {
			pointer-events: none;
			opacity: .4;
		}
	}

	.recipe_list-link {
		display: block;
		padding: 12px 10px 11px;
		text-align: left;
		background-repeat: no-repeat;
		background-size: 8px 13px;
		background-position: right 3px center;
	}

	.recipe_list-head {
		display: flex;
		align-items: baseline;
		padding-bottom: 7px;
	}

	.recipe_list-sub_title {
		font-size: 1.1rem;
		font-weight: bold;
		color: var.$gray-color;
		white-space: nowrap;
	}

	.recipe_list-time {
		margin-left: 7px;
		font-size: 1.2rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&::before {
			display: inline-block;
			width: 11px;
			height: 11px;
			margin-right: 3px;
			content: "";
			background-image: url(#{var.$img-path}/icon_recipe.png);
			background-size: 22px;
			background-repeat: no-repeat;
			background-position: 0 0;
			overflow: hidden;
			vertical-align: text-top;
		}

	}

	.recipe_list-price {
		margin-left: 8px;
		font-size: 1.2rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&::before {
			display: inline-block;
			width: 11px;
			height: 11px;
			margin-right: 3px;
			content: "";
			background-image: url(#{var.$img-path}/icon_recipe.png);
			background-size: 22px;
			background-repeat: no-repeat;
			background-position: -11px 0;
			overflow: hidden;
			vertical-align: text-top;
		}
	}

	.recipe_list-title {
		font-weight: bold;
		display: -webkit-box;
		overflow: hidden;
		font-size: 1.4rem;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.recipe_list-modal_content {
		width: 100%;
		padding: 18px 15px 25px;
		text-align: left;
	}

	.recipe_list-modal_note {
		display: flex;
		justify-content: flex-end;
	}

	.recipe_list-modal_discription {
		padding: 12px 0 15px;
	}

	// min
	.recipe_list-item--min {
		.recipe_list-image {
			height: 140px;

			@include var.tab {
				height: 200px;
			}
		}

		.recipe_list-update {
			top: 5px;
			right: 3px;
		}

		.recipe_list-update_image {
			width: 33px;
			height: 33px;
			background-image: url(#{var.$img-path}/icon_update_min.png);
			background-size: 33px;
		}

		.recipe_list-price {
			font-size: 1.1rem;
		}

		.recipe_list-time {
			font-size: 1.1rem;
		}

		.recipe_list-title {
			margin-top: -1px;
			font-size: 1.2rem;
		}
	}

	// modal
	&.recipe_list--modal {
		.recipe_list-image {
			height: auto;
		}

		.recipe_list-price {
			margin-left: 12px;
		}

		.recipe_list-title {
			padding-bottom: 10px;
			font-size: 1.6rem;
		}
	}

	// rank modal


}
